@use '@/styles/base' as *;

.category {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 30px 0;
  margin-bottom: 20px;
  background-color: #fff;
  &__item {
    width: 20%;
    margin-bottom: 30px;
  }
  &__icon {
      @include wh(60px, 60px);
      line-height: 60px;
      margin: 0 auto;
      text-align: center;
  }
  &__title {
      @include sc(28px, #666);
      padding-top: 10px;
      text-align: center;
  }
}
