@import '@/styles/base';

.activity {
  @include wmh(100vw, 100vh);
  box-sizing: border-box;
  padding: 24px 20px;
  background-color: #fff;
  border-top: 2px solid #f4f4f4;
  .goods {
    width: 100%;
    padding: 12px 0;
    border-bottom: 2px solid #f4f4f4;
    display: flex;
  }
  .goods-cover {
    @include wh(180px, 180px);
    border-radius: 16px;
    overflow: hidden;
  }
  .goods-info {
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #fff;
    flex: 1;
    min-width: 1px;
  }
  .goods-name {
    height: 60px;
    line-height: 60px;
    & > text:first-child {
      @include wh(62px, 30px);
      @include sc(24px, #fff);
      line-height: 30px;
      margin-right: 12px;
      background-color: rgba(232, 14, 39, 1);
      text-align: center;
      border-radius: 16px;
      display: inline-block;
      vertical-align: middle;
    }
    & > text:last-child {
      @include sc(28px, rgba(51, 51, 51, 1));
    }
  }
  .goods-price {
    @include sc(32px, rgba(232, 14, 39, 1));
    height: 60px;
    line-height: 60px;
  }
  .goods-sales {
    @include sc(28px, rgba(153, 153, 153, 1));
    height: 60px;
    line-height: 60px;
  }
}
