@use '@/styles/base' as *;

.goods-list {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 20px;
  background-color: #fff;
  .scroller {
    height: calc(100vh - 354px);
    overflow: auto;
  }
}
