@import '@/styles/base';

.cart {
  @include wmh(100vw, 100vh);
  background-color: #fff;
  &__checkbox {
    @include wh(46px, 46px);
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
    border: 2px solid #999;
    border-radius: 50%;
    background-color: #fff;
  }
  &__checkbox--checked {
    @include wh(46px, 46px);
    float: left;
    line-height: 40px;
    margin-right: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #e80e27;
  }
  .cart-item {
    position: relative;
    width: 100%;
    padding: 30px 0;
    background-color: #fff;
    border-bottom: 2px dashed #dbdbdb;
    display: flex;
    &:first-child {
      border-top: 2px dashed #dbdbdb;
    }
  }
  .goods-cover {
    @include wh(180px, 180px);
    border-radius: 16px;
    overflow: hidden;
  }
  .goods-info {
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #fff;
    flex: 1;
    min-width: 1px;
    > view:first-child {
      @include sc(28px, #333);
      margin-bottom: 30px;
    }
    > view:last-child {
      @include sc(32px, #e80e27);
    }
  }
  .btn-group {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    .sub-btn {
      flex: 1;
    }
    .add-btn {
      flex: 1;
    }
    .num {
      @include sc(30px, rgba(51, 51, 51, 1));
      flex: 1;
      margin: 0 10px;
    }
  }
  .statistic {
    @include wh(100%, 98px);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    line-height: 98px;
    background-color: #fff;
    box-sizing: border-box;
    border-top: 2px solid #dbdbdb;
  }
  .cart__checkbox--label {
    @include sc(28px, rgba(153, 153, 153, 1));
  }
  .total {
    @include sc(28px, rgba(51, 51, 51, 1));
    display: inline-block;
    padding-left: 80px;
    > text {
      @include sc(32px, #f6475b);
    }
  }
  .submit {
    @include wh(208px, 98px);
    @include sc(32px, #fff);
    line-height: 98px;
    padding: 0;
    text-align: center;
    background-color: #f6475b;
    border-radius: 0;
  }
}
