@use '@/styles/base' as *;

.cart {
  @include wmh(100vw, 100vh);
  background-color: #fff;
  &__checkbox {
    @include wh(46px, 46px);
    margin-right: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    border: 2px solid #999;
    border-radius: 50%;
    background-color: #fff;
  }
  &__checkbox--checked {
    @include wh(46px, 46px);
    line-height: 40px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #e80e27;
  }
  &-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    border-bottom: 2px dashed #dbdbdb;
    &:first-child {
      border-top: 2px dashed #dbdbdb;
    }
  }
  &__goods {
    flex: 1;
    min-width: 1px;
  }
  .goods {
    border: none;
    padding: 0;
  }
  .btn-group {
    display: flex;
    align-items: center;
    margin-right: 10px;
    .sub-btn {
      flex: 1;
    }
    .add-btn {
      flex: 1;
    }
    .num {
      @include sc(30px, rgba(51, 51, 51, 1));
      flex: 1;
      margin: 0 10px;
    }
  }
  &__footer {
    @include wh(100%, 98px);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    line-height: 98px;
    background-color: #fff;
    box-sizing: border-box;
    border-top: 2px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__footer__checkbox {
    display: flex;
    align-items: center;
  }
  &__checkbox--label {
    @include sc(28px, rgba(153, 153, 153, 1));
  }
  .total {
    @include sc(28px, rgba(51, 51, 51, 1));
    > text {
      @include sc(32px, #f6475b);
    }
  }
  .submit {
    @include wh(208px, 98px);
    @include sc(32px, #fff);
    line-height: 98px;
    padding: 0;
    text-align: center;
    background-color: #f6475b;
    border-radius: 0;
    align-self: flex-end;
    margin: 0;
  }
}
