@import '@/styles/base';

@import '@/styles/base';

.coupon-card {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 24px;
  margin-bottom: 20px;
  background-color: #fff;
  .coupon-item {
    @include wh(100%, 92px);
    @include sc(28px, rgba(153, 153, 153, 1));
    line-height: 92px;
    border-bottom: 2px dashed #ccc;
    &__label {
      @include sc(30px, rgba(153, 153, 153, 1));
      height: 92px;
      line-height: 92px;
    }
  }
  .coupon-item:nth-of-type(3) {
    > view {
      display: inline-block;
      color: #e80e27;
    }
  }
  .picker {
    width: 200px;
    text-align: right;
  }
  .score {
    @include wh(92px, 92px);
    @include sc(30px, #333);
    line-height: 92px;
  }
}
