@use '@/styles/base' as *;

.user-edit {
  @include wmh(100vw, 100vh);
  position: relative;
  box-sizing: border-box;
  padding: 0 30px;
  background-color: #fff;
  .edit-item  {
    border-bottom: 2px solid #d8d8d8;
    &__label {
      @include sc(32px, #666);
      height: 100px;
      line-height: 100px;
    }
    &__value {
      @include sc(32px, #999);
    }
    .form-control {
      height: 100px;
      line-height: 100px;
    }
    .display-text {
      @include wh(500px, 100px);
    }
  }
  .submit {
    @include wh(500px, 80px);
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 80px;
    padding: 8px;
    color: #fff;
    text-align: center;
    background-color: #e80e27;
    border-radius: 8px;
  }
}
