@use '@/styles/mixin' as *;

.container {
  @include wmh(100vw, 100vh);
}

.swiper {
  height: 100vw;
}

.swiper__img-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
