@use '@/styles/base' as *;

.order-header {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-top: 2px solid #f4f4f4;
}

.order-addr {
  padding: 0 0 20px 100px;
  background: url('../../../../../assets/icons/loc.png') no-repeat left;
  -webkit-background-size: 60px 60px;
  background-size: 60px 60px;
  > view:first-child {
    > text:first-child {
      @include sc(32px, #333);
      display: inline-block;
      padding-right: 60px;
    }
    > text:nth-of-type(2) {
      @include sc(30px, #999);
    }
  }
  > view:last-child {
    @include sc(26px, #333);
    padding-top: 8px;
  }
}