@use '@/styles/base' as *;

.upload {
  .add-icon {
    @include wh(118px, 118px);
    box-sizing: border-box;
    border: 2px solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .thumb {
    position: relative;
    @include wh(118px, 116px);
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  .cancel-icon {
    position: absolute;
    top: -16px;
    right: -10px;
  }
}
