@use '@/styles/base' as *;

.upload {
  .add-icon {
    @include wh(118px, 116px);
    line-height: 120px;
    box-sizing: border-box;
    border: 2px solid #d8d8d8;
    text-align: center;
  }
  .thumb {
    position: relative;
    @include wh(118px, 116px);
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  .cancel-icon {
    position: absolute;
    top: -16px;
    right: -10px;
  }
}
