@use '@/styles/base' as *;

.suggestion {
  @include wmh(100vw, 100vh);
  position: relative;
  box-sizing: border-box;
  padding: 0 30px;
  background-color: #fff;
  .content {
    @include sc(28px, #666);
    padding: 24px 0 14px;
    border-bottom: 2px solid rgba(217, 217, 217, 1);
    .textarea {
      @include wmh(100%, 136px);
      line-height: 40px;
    }
    .counter {
      height: 40px;
      line-height: 40px;
      text-align: right;
    }
  }
  .uploader {
    color: #666666;
    &__tip {
      line-height: 40px;
      padding-top: 22px;
      font-size: 28px;
    }
    &__selector {
      padding-top: 28px;
      overflow: hidden;
    }
  }
  .submit-btn {
    @include wh(500px, 80px);
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 80px;
    padding: 8px;
    color: #fff;
    text-align: center;
    background-color: #e80e27;
    border-radius: 8px;
  }
}
