@use '@/styles/base' as *;

.recommend {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 20px 0;
  background-color: #fff;
  &__header {
    @include sc(36px, #999);
    padding-bottom: 24px;
    font-weight: 600;
    text-align: center;
    > text {
      padding: 0 20px;
    }
  }
}
