@use '@/styles/base' as *;

.goods-card {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;

  .goods__num {
    @include sc(30px, rgba(153, 153, 153, 1));
    height: 90px;
    line-height: 90px;
    > text {
      display: inline-block;
      font-size: 36px;
      margin-left: 8px;
    }
  }
}
