@use '@/styles/base' as *;

.promotion {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  &__header {
    @include sc(36px, #000);
    padding-bottom: 24px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }
  &__more {
    @include sc(28px, #999);
    font-weight: 400;
    display: flex;
    align-items: center;
    .at-icon {
      font-size: 36px;
    }
  }
  &__banner {
    @include wh(100%, 184px);
    margin-bottom: 20px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &__goods {
    display: flex;
    justify-content: space-between;
  }
}
