@import '@/styles/base';

.goods-card {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  .goods {
    padding: 20px 0;
    border-bottom: 2px dashed #ccc;
    display: flex;
  }
  .goods-cover {
    @include wh(180px, 180px);
    border-radius: 16px;
    overflow: hidden;
  }
  .goods-info {
    height: 180px;
    min-width: 530px;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #fff;
    flex: 1;
  }
  .goods-name {
    @include sc(32px, #333);
    height: 90px;
  }
  .goods-price {
    @include sc(30px, rgba(232, 14, 39, 1));
    display: inline-block;
    height: 90px;
    line-height: 90px;
  }
  .goods-num {
    @include sc(30px, rgba(153, 153, 153, 1));
    height: 90px;
    line-height: 90px;
    > text {
      display: inline-block;
      font-size: 36px;
      margin-left: 8px;
    }
  }
}
