@import '@/styles/base';

.addr-edit {
  @include wmh(100vw, 100vh);
  position: relative;
  box-sizing: border-box;
  padding: 0 30px;
  background-color: #fff;
}
.edit-row {
  border-bottom: 2px solid #d8d8d8;
  display: flex;
  &__label {
    @include sc(32px, #666);
    height: 100px;
    line-height: 100px;
  }
  &__value {
    flex: 1;
    min-width: 1px;
    @include sc(32px, #999);
    height: 100px;
    line-height: 100px;
  }
  .form-control {
    height: 100px;
    line-height: 100px;
    width: 100%;
  }
  .display-text {
    @include wh(500px, 100px);
    display: flex;
    > text {
      flex: 1;
    }
  }
  .checkbox {
    @include wh(46px, 46px);
    float: left;
    margin: 28px 20px 0 0;
    box-sizing: border-box;
    border: 2px solid #999;
    border-radius: 50%;
    background-color: #fff;
  }
  .checkbox--checked {
    @include wh(46px, 46px);
    float: left;
    line-height: 40px;
    margin: 28px 20px 0 0;
    text-align: center;
    border-radius: 50%;
    background-color: #e80e27;
  }
}
.submit-btn {
  @include wh(500px, 80px);
  position: absolute;
  bottom: 160px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 80px;
  padding: 8px;
  color: #fff;
  text-align: center;
  background-color: #e80e27;
  border-radius: 8px;
}
